absl-py==0.14.1
alembic==1.4.1
altair==4.1.0
anaconda-client==1.7.2
anaconda-navigator==2.0.3
anaconda-project==0.10.1
anyio==2.2.0
appdirs==1.4.4
argh==0.26.2
argon2-cffi==20.1.0
asn1crypto==1.4.0
astor==0.8.1
astroid==2.5.1
astropy==4.2.1
astunparse==1.6.3
async-generator==1.10
streamlit
seaborn
pandas
numpy
scipy
matplotlib
statsmodels
openpyxl
plotly
